<!DOCTYPE html>
<html>
  <head>
    <meta http-eqiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Hyde - Your Friendly Neighborhood Jekyll Manager</title>
    <link rel="stylesheet" type="text/css" href="/gui/application.css">
  </head>
  <body>
    <header>
      <h1>
        <ul>
          <% if current_site %>
            <li><a href="/<%= current_site %>/deploy" title="Deploy <%= current_site.gsub("_", ".") %>">Deploy</a></li>
          <% end %>
          <li><a href="/auth" title="Log out">Exit</a></li>
        </ul>
        Hyde Control Panel<span>&bull;</span>
      </h1>

      <nav>
        <ul>
          <li><strong><%= t(:sites) %></strong></li>
          <% @env["hyde.configs"].each do |site, config| %>
            <li>
              <a href="/<%= config.title %>">
                <%= config.title.gsub("_", ".") %>
              </a>
            </li>
          <% end %>
        </ul>

        <% if current_config %>
          <ul>
            <li><strong><%= t(:content) %></strong></li>
            <% current_config.content.each do |content| %>
              <li>
                <a href="/<%= current_config.title %>/<%= content %>">
                  <%= content.gsub("_", "").capitalize %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </nav>
    </header>
    
    <section>
      <% if notice %>
        <div id="notice"><%= notice %></div>
      <% end %>

      <nav>
        <% if current_files %>
          <ul>
            <% current_files.each do |filename| %>
              <li>
                <a href="/<%= File.join(current_site, current_dir, File.basename(filename)) %>" class="<%= "current" if File.basename(filename) === current_file %>">
                  <%= File.basename(filename) %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </nav>

      <div id="main">
        <% if opened_file %>
          <form action="/<%= File.join(current_site, current_dir, current_file || "new")  %>" method="post">
            <div>
              <label for="file">File</label>
              <input type="text" name="file" id="file" value="<%= params["file"] || current_file || "" %>">

              <label for="content">Content</label>
              <textarea name="content" id="content"><%= opened_file.read %></textarea>
            </div>

            <% unless @preview.nil? %>
              <label>Preview</label>
              <div id="preview">
                <%= @preview %>
              </div>
            <% end %>
            
            <div id="buttons">
              <input type="submit" name="preview" value="Preview">
              <input type="submit" name="save" value="Save">
            </div>
          </form>
        <% else %>

        <% end %>
      </div>
    </section>

  </body>
</html>
