<!DOCTYPE html>
<html>
  <head>
    <title>Hyde - Your Friendly Neighborhood Jekyll Manager</title>
    <link rel="stylesheet" type="text/css" href="/gui/application.css">
  </head>
  <body>
    <header>
      <h1>Hyde Control Panel</h1>
      <nav>
        <ul>
          <li><strong>Sites</strong></li>
          <% @configs.each do |config| %>
            <li><a href="/<%= config.title %>" class="<%= "current" if !@config.nil? && @config.site === config.site %>"><%= config.title.gsub("_", ".") %></a></li>
          <% end %>
        </ul>
        <% unless @config.nil? %>
          <ul>
            <li><strong>Content</strong></li>
            <% @config.content.each do |content| %>
              <li>
                <a href="/<%= @config.title %>/<%= content %>">
                  <%= content.gsub("_", "").capitalize %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end  %>
      </nav>
    </header>
    <section>
      <nav>
        <% unless @files.nil? %>
          <ul>
            <% @files.each do |file| %>
              <li>
                <a href="<%= "/#{@config.title}/#{@content}/#{file}" %>">
                  <%= file %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end %>
      </nav>
      <div id="main">
        <form>
          <label>Title</label>
          <input type="text" value="<%= @filename %>">

          <label>Content</label>
          <textarea><%= @file.read %></textarea>

          <input type="submit" value="Save">
        </form>
      </div>
    </section>
  </body>
</html>
