<!DOCTYPE html>
<html>
  <head>
    <title>Hyde - Your Friendly Neighborhood Jekyll Manager</title>
    <link rel="stylesheet" type="text/css" href="/gui/application.css">
  </head>
  <body>
    <header>
      <h1>Hyde Control Panel</h1>
      <nav>
        <ul>
          <li><strong>Sites</strong></li>
          <% @configs.each do |config| %>
            <li><a href="/<%= config.site %>" class="<%= "current" if @config.site === config.site %>">nintera.com</a></li>
          <% end %>
        </ul>
        <% unless @config.nil? %>
          <ul>
            <li><strong>Content</strong></li>
            <% @config.content.each do |content| %>
              <li>
                <a href="/<%= @config.site %>/<%= File.basename(dir) %>">
                  <%= File.basename(dir).capitalize %>
                </a>
              </li>
            <% end %>
          </ul>
        <% end  %>
      </nav>
    </header>
    <section>
      <nav>
        <ul>
          <li><a class="current" href="#">Some sample page here</a></li>
          <li><a href="#">Some sample page here</a></li>
          <li><a href="#">Some sample page here</a></li>
          <li><a href="#">Some sample page here</a></li>
        </ul>
      </nav>
      <div id="main">
        <form>
          <label>Title</label>
          <input type="text">

          <label>Content</label>
          <textarea></textarea>

          <input type="submit" value="Save">
        </form>
      </div>
    </section>
  </body>
</html>
